In [1]:
import pandas as pd

In [2]:
# 2014
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2014.csv")
df.head(10)

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1"
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5"
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9"
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9"
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9"
5,2014-01-01T01:54:00,PGUM,"050,5,N,0051,5","01829,5,M,N","016093,5,N,5","+0278,5","+0261,5","10116,5"
6,2014-01-01T02:54:00,PGUM,"060,5,N,0062,5","02134,5,M,N","016093,5,N,5","+0283,5","+0239,5","10107,5"
7,2014-01-01T03:54:00,PGUM,"070,5,N,0067,5","01829,5,M,N","016093,5,N,5","+0283,5","+0233,5","10101,5"
8,2014-01-01T04:54:00,PGUM,"060,5,N,0067,5","02134,5,M,N","016093,5,N,5","+0283,5","+0239,5","10098,5"
9,2014-01-01T05:54:00,PGUM,"080,5,N,0072,5","22000,5,C,N","016093,5,N,5","+0283,5","+0239,5","10097,5"

In [3]:
df.columns

Index(['DATE', 'CALL_SIGN', 'WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP'], dtype='object')

In [4]:
df.tail()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP
13993,2014-12-31T19:54:00,99999,"060,1,N,0031,1","22000,1,9,N","016093,1,9,9","+0250,1","+0228,1","10100,1"
13994,2014-12-31T20:54:00,99999,"040,1,N,0026,1","01189,1,C,N","016093,1,9,9","+0250,1","+0228,1","10105,1"
13995,2014-12-31T21:54:00,99999,"050,1,N,0041,1","22000,1,9,N","016093,1,9,9","+0272,1","+0233,1","10110,1"
13996,2014-12-31T22:54:00,99999,"070,1,N,0057,1","01372,1,C,N","016093,1,9,9","+0283,1","+0233,1","10114,1"
13997,2014-12-31T23:54:00,99999,"060,1,N,0077,1","00975,1,9,N","016093,1,9,9","+0300,1","+0233,1","10112,1"

In [5]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1",060,1,N,0067,1
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5",060,5,N,0057,5
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9",060,5,N,0072,5
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9",060,5,N,0062,5
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9",060,5,N,0062,5

In [6]:
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,SKY_CAVOK
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1",060,1,N,0067,1,99999,9,9,N
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5",060,5,N,0057,5,00671,5,M,N
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9",060,5,N,0072,5,00853,5,M,N
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9",060,5,N,0062,5,01067,5,M,N
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9",060,5,N,0062,5,01067,5,M,N

In [7]:
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,WND_dQC,...,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,SKY_CAVOK,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1",060,1,...,0067,1,99999,9,9,N,016000,1,9,9
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5",060,5,...,0057,5,00671,5,M,N,016093,5,N,5
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,0072,5,00853,5,M,N,002816,5,N,5
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,0062,5,01067,5,M,N,003219,5,N,5
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,0062,5,01067,5,M,N,008047,5,N,5

In [8]:
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,WND_dQC,...,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,SKY_CAVOK,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1",060,1,...,99999,9,9,N,016000,1,9,9,+0267,1
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5",060,5,...,00671,5,M,N,016093,5,N,5,+0283,5
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,00853,5,M,N,002816,5,N,5,+0270,5
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,01067,5,M,N,003219,5,N,5,+0270,5
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,01067,5,M,N,008047,5,N,5,+0270,5

In [9]:
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,WND_dQC,...,SKY_ceilingDC,SKY_CAVOK,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1",060,1,...,9,N,016000,1,9,9,+0267,1,+0244,1
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5",060,5,...,M,N,016093,5,N,5,+0283,5,+0239,5
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,M,N,002816,5,N,5,+0270,5,+0240,5
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,M,N,003219,5,N,5,+0270,5,+0240,5
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,M,N,008047,5,N,5,+0270,5,+0240,5

In [10]:
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,WND_dQC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2014-01-01T00:00:00,99999,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0267,1","+0244,1","10128,1",060,1,...,016000,1,9,9,+0267,1,+0244,1,+0244,1
1,2014-01-01T00:54:00,PGUM,"060,5,N,0057,5","00671,5,M,N","016093,5,N,5","+0283,5","+0239,5","10122,5",060,5,...,016093,5,N,5,+0283,5,+0239,5,+0239,5
2,2014-01-01T01:05:00,PGUM,"060,5,N,0072,5","00853,5,M,N","002816,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,002816,5,N,5,+0270,5,+0240,5,+0240,5
3,2014-01-01T01:09:00,PGUM,"060,5,N,0062,5","01067,5,M,N","003219,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,003219,5,N,5,+0270,5,+0240,5,+0240,5
4,2014-01-01T01:11:00,PGUM,"060,5,N,0062,5","01067,5,M,N","008047,5,N,5","+0270,5","+0240,5","99999,9",060,5,...,008047,5,N,5,+0270,5,+0240,5,+0240,5

In [11]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2014-01-01T00:00:00,99999,060,1,N,0067,1,99999,9,9,...,016000,1,9,9,+0267,1,+0244,1,+0244,1
1,2014-01-01T00:54:00,PGUM,060,5,N,0057,5,00671,5,M,...,016093,5,N,5,+0283,5,+0239,5,+0239,5
2,2014-01-01T01:05:00,PGUM,060,5,N,0072,5,00853,5,M,...,002816,5,N,5,+0270,5,+0240,5,+0240,5
3,2014-01-01T01:09:00,PGUM,060,5,N,0062,5,01067,5,M,...,003219,5,N,5,+0270,5,+0240,5,+0240,5
4,2014-01-01T01:11:00,PGUM,060,5,N,0062,5,01067,5,M,...,008047,5,N,5,+0270,5,+0240,5,+0240,5

In [13]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
13982,2014-12-31T12:54:00,PGUM,080,5,N,0036,5,00823,5,M,...,016093,5,N,5,+0272,5,+0222,5,+0222,5
13983,2014-12-31T13:02:00,PGUM,070,5,N,0041,5,01036,5,M,...,016093,5,N,5,+0270,5,+0220,5,+0220,5
13984,2014-12-31T13:54:00,PGUM,080,5,N,0031,5,22000,5,C,...,016093,5,N,5,+0267,5,+0222,5,+0222,5
13985,2014-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
13986,2014-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [14]:
final_df.to_csv('final_climate2014.csv')

In [15]:
# 2013
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2013.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2013-01-01T00:00:00,PGUM,V020,"080,1,N,0087,1","99999,9,9,N","004800,1,N,1","+0280,1","+0260,1","99999,9"
1,2013-01-01T00:10:00,PGUM,V030,"080,5,N,0088,5","00549,5,M,N","004828,5,N,5","+0280,5","+0260,5","99999,9"
2,2013-01-01T00:54:00,PGUM,V030,"090,5,N,0057,5","00610,5,M,N","006437,5,N,5","+0278,5","+0261,5","10116,5"
3,2013-01-01T01:14:00,PGUM,V030,"090,5,N,0072,5","22000,5,9,N","011265,5,N,5","+0290,5","+0260,5","99999,9"
4,2013-01-01T01:32:00,PGUM,V030,"090,5,N,0062,5","00884,5,M,N","006437,5,N,5","+0280,5","+0260,5","99999,9"
5,2013-01-01T01:47:00,PGUM,V030,"080,5,N,0088,5","22000,5,9,N","016093,5,N,5","+0280,5","+0260,5","99999,9"
6,2013-01-01T01:54:00,PGUM,V030,"090,5,N,0082,5","22000,5,9,N","016093,5,N,5","+0289,5","+0261,5","10109,5"
7,2013-01-01T02:43:00,PGUM,V030,"070,5,N,0077,5","00640,5,M,N","004828,5,N,5","+0280,5","+0260,5","99999,9"
8,2013-01-01T02:54:00,PGUM,V030,"080,5,N,0082,5","00945,5,M,N","016093,5,N,5","+0283,5","+0261,5","10102,5"
9,2013-01-01T03:25:00,PGUM,V030,"070,5,N,0082,5","00732,5,M,N","016093,5,N,5","+0290,5","+0260,5","99999,9"

In [16]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2013-01-01T00:00:00,PGUM,V020,"080,1,N,0087,1","99999,9,9,N","004800,1,N,1","+0280,1","+0260,1","99999,9",080,...,004800,1,N,1,+0280,1,+0260,1,+0260,1
1,2013-01-01T00:10:00,PGUM,V030,"080,5,N,0088,5","00549,5,M,N","004828,5,N,5","+0280,5","+0260,5","99999,9",080,...,004828,5,N,5,+0280,5,+0260,5,+0260,5
2,2013-01-01T00:54:00,PGUM,V030,"090,5,N,0057,5","00610,5,M,N","006437,5,N,5","+0278,5","+0261,5","10116,5",090,...,006437,5,N,5,+0278,5,+0261,5,+0261,5
3,2013-01-01T01:14:00,PGUM,V030,"090,5,N,0072,5","22000,5,9,N","011265,5,N,5","+0290,5","+0260,5","99999,9",090,...,011265,5,N,5,+0290,5,+0260,5,+0260,5
4,2013-01-01T01:32:00,PGUM,V030,"090,5,N,0062,5","00884,5,M,N","006437,5,N,5","+0280,5","+0260,5","99999,9",090,...,006437,5,N,5,+0280,5,+0260,5,+0260,5

In [17]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2013-01-01T00:00:00,PGUM,080,1,N,0087,1,99999,9,9,...,004800,1,N,1,+0280,1,+0260,1,+0260,1
1,2013-01-01T00:10:00,PGUM,080,5,N,0088,5,00549,5,M,...,004828,5,N,5,+0280,5,+0260,5,+0260,5
2,2013-01-01T00:54:00,PGUM,090,5,N,0057,5,00610,5,M,...,006437,5,N,5,+0278,5,+0261,5,+0261,5
3,2013-01-01T01:14:00,PGUM,090,5,N,0072,5,22000,5,9,...,011265,5,N,5,+0290,5,+0260,5,+0260,5
4,2013-01-01T01:32:00,PGUM,090,5,N,0062,5,00884,5,M,...,006437,5,N,5,+0280,5,+0260,5,+0260,5

In [18]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
13493,2013-12-31T11:54:00,PGUM,060,5,N,0051,5,22000,5,9,...,016093,5,N,5,+0261,5,+0228,5,+0228,5
13495,2013-12-31T12:54:00,PGUM,070,5,N,0046,5,22000,5,9,...,016093,5,N,5,+0261,5,+0228,5,+0228,5
13496,2013-12-31T13:54:00,PGUM,060,5,N,0031,5,22000,5,9,...,016093,5,N,5,+0256,5,+0233,5,+0233,5
13497,2013-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
13498,2013-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [19]:
final_df.to_csv('final_climate2013.csv')

In [20]:
# 2015
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2015.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2015-01-01T00:00:00,99999,V020,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0290,1","+0230,1","99999,9"
1,2015-01-01T00:02:00,PGUM,V030,"060,5,N,0067,5","00701,5,M,N","016093,5,N,5","+0290,5","+0230,5","99999,9"
2,2015-01-01T00:22:00,PGUM,V030,"080,5,N,0067,5","00945,5,M,N","016093,5,N,5","+0290,5","+0240,5","99999,9"
3,2015-01-01T00:54:00,PGUM,V030,"080,5,N,0062,5","01524,5,M,N","016093,5,N,5","+0300,5","+0222,5","10109,5"
4,2015-01-01T01:54:00,PGUM,V030,"080,5,N,0067,5","01524,5,M,N","016093,5,N,5","+0311,5","+0233,5","10100,5"
5,2015-01-01T02:33:00,PGUM,V030,"070,5,N,0062,5","00732,5,M,N","016093,5,N,5","+0310,5","+0230,5","99999,9"
6,2015-01-01T02:54:00,PGUM,V030,"090,5,N,0057,5","00732,5,M,N","016093,5,N,5","+0306,5","+0228,5","10090,5"
7,2015-01-01T03:18:00,PGUM,V030,"090,5,N,0046,5","22000,5,9,N","016093,5,N,5","+0310,5","+0230,5","99999,9"
8,2015-01-01T03:54:00,PGUM,V030,"070,5,N,0062,5","22000,5,9,N","016093,5,N,5","+0311,5","+0228,5","10084,5"
9,2015-01-01T04:54:00,PGUM,V030,"060,5,N,0057,5","22000,5,9,N","016093,5,N,5","+0311,5","+0228,5","10079,5"

In [21]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2015-01-01T00:00:00,99999,V020,"060,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0290,1","+0230,1","99999,9",060,...,016000,1,9,9,+0290,1,+0230,1,+0230,1
1,2015-01-01T00:02:00,PGUM,V030,"060,5,N,0067,5","00701,5,M,N","016093,5,N,5","+0290,5","+0230,5","99999,9",060,...,016093,5,N,5,+0290,5,+0230,5,+0230,5
2,2015-01-01T00:22:00,PGUM,V030,"080,5,N,0067,5","00945,5,M,N","016093,5,N,5","+0290,5","+0240,5","99999,9",080,...,016093,5,N,5,+0290,5,+0240,5,+0240,5
3,2015-01-01T00:54:00,PGUM,V030,"080,5,N,0062,5","01524,5,M,N","016093,5,N,5","+0300,5","+0222,5","10109,5",080,...,016093,5,N,5,+0300,5,+0222,5,+0222,5
4,2015-01-01T01:54:00,PGUM,V030,"080,5,N,0067,5","01524,5,M,N","016093,5,N,5","+0311,5","+0233,5","10100,5",080,...,016093,5,N,5,+0311,5,+0233,5,+0233,5

In [22]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2015-01-01T00:00:00,99999,060,1,N,0067,1,99999,9,9,...,016000,1,9,9,+0290,1,+0230,1,+0230,1
1,2015-01-01T00:02:00,PGUM,060,5,N,0067,5,00701,5,M,...,016093,5,N,5,+0290,5,+0230,5,+0230,5
2,2015-01-01T00:22:00,PGUM,080,5,N,0067,5,00945,5,M,...,016093,5,N,5,+0290,5,+0240,5,+0240,5
3,2015-01-01T00:54:00,PGUM,080,5,N,0062,5,01524,5,M,...,016093,5,N,5,+0300,5,+0222,5,+0222,5
4,2015-01-01T01:54:00,PGUM,080,5,N,0067,5,01524,5,M,...,016093,5,N,5,+0311,5,+0233,5,+0233,5

In [23]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
15547,2015-12-31T11:54:00,PGUM,070,5,N,0057,5,22000,5,9,...,016093,5,N,5,+0256,5,+0222,5,+0222,5
15549,2015-12-31T12:54:00,PGUM,080,5,N,0036,5,22000,5,9,...,016093,5,N,5,+0256,5,+0217,5,+0217,5
15550,2015-12-31T13:54:00,PGUM,070,5,N,0051,5,02286,5,M,...,016093,5,N,5,+0256,5,+0206,5,+0206,5
15551,2015-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
15552,2015-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [24]:
final_df.to_csv('final_climate2015.csv')

In [25]:
# 2016
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2016.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2016-01-01T00:00:00,99999,V020,"060,1,N,0072,1","99999,9,9,N","016000,1,9,9","+0278,1","+0228,1","10168,1"
1,2016-01-01T00:54:00,PGUM,V030,"080,5,N,0082,5","00914,5,M,N","016093,5,N,5","+0289,5","+0228,5","10165,5"
2,2016-01-01T01:54:00,PGUM,V030,"060,5,N,0088,5","02134,5,M,N","016093,5,N,5","+0289,5","+0228,5","10156,5"
3,2016-01-01T02:54:00,PGUM,V030,"070,5,N,0067,5","22000,5,9,N","016093,5,N,5","+0306,5","+0228,5","10147,5"
4,2016-01-01T03:07:00,99999,V020,"060,1,N,0077,1","01006,1,9,N","016093,1,9,9","+0300,1","+0230,1","99999,9"
5,2016-01-01T03:07:00,99999,V020,"060,1,N,0077,1","01006,1,9,N","016093,1,9,9","+0300,1","+0230,1","99999,9"
6,2016-01-01T03:54:00,PGUM,V030,"060,5,N,0072,5","22000,5,9,N","016093,5,N,5","+0300,5","+0222,5","10138,5"
7,2016-01-01T04:51:00,99999,V020,"060,1,N,0082,1","00792,1,9,N","016093,1,9,9","+0300,1","+0220,1","99999,9"
8,2016-01-01T04:51:00,99999,V020,"060,1,N,0082,1","00792,1,9,N","016093,1,9,9","+0300,1","+0220,1","99999,9"
9,2016-01-01T04:54:00,PGUM,V030,"050,5,N,0077,5","22000,5,9,N","016093,5,N,5","+0300,5","+0222,5","10135,5"

In [26]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2016-01-01T00:00:00,99999,V020,"060,1,N,0072,1","99999,9,9,N","016000,1,9,9","+0278,1","+0228,1","10168,1",060,...,016000,1,9,9,+0278,1,+0228,1,+0228,1
1,2016-01-01T00:54:00,PGUM,V030,"080,5,N,0082,5","00914,5,M,N","016093,5,N,5","+0289,5","+0228,5","10165,5",080,...,016093,5,N,5,+0289,5,+0228,5,+0228,5
2,2016-01-01T01:54:00,PGUM,V030,"060,5,N,0088,5","02134,5,M,N","016093,5,N,5","+0289,5","+0228,5","10156,5",060,...,016093,5,N,5,+0289,5,+0228,5,+0228,5
3,2016-01-01T02:54:00,PGUM,V030,"070,5,N,0067,5","22000,5,9,N","016093,5,N,5","+0306,5","+0228,5","10147,5",070,...,016093,5,N,5,+0306,5,+0228,5,+0228,5
4,2016-01-01T03:07:00,99999,V020,"060,1,N,0077,1","01006,1,9,N","016093,1,9,9","+0300,1","+0230,1","99999,9",060,...,016093,1,9,9,+0300,1,+0230,1,+0230,1

In [27]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2016-01-01T00:00:00,99999,060,1,N,0072,1,99999,9,9,...,016000,1,9,9,+0278,1,+0228,1,+0228,1
1,2016-01-01T00:54:00,PGUM,080,5,N,0082,5,00914,5,M,...,016093,5,N,5,+0289,5,+0228,5,+0228,5
2,2016-01-01T01:54:00,PGUM,060,5,N,0088,5,02134,5,M,...,016093,5,N,5,+0289,5,+0228,5,+0228,5
3,2016-01-01T02:54:00,PGUM,070,5,N,0067,5,22000,5,9,...,016093,5,N,5,+0306,5,+0228,5,+0228,5
4,2016-01-01T03:07:00,99999,060,1,N,0077,1,01006,1,9,...,016093,1,9,9,+0300,1,+0230,1,+0230,1

In [28]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
16287,2016-12-31T11:54:00,PGUM,070,5,N,0072,5,22000,5,9,...,016093,5,N,5,+0272,5,+0228,5,+0228,5
16289,2016-12-31T12:54:00,PGUM,070,5,N,0072,5,22000,5,9,...,016093,5,N,5,+0272,5,+0233,5,+0233,5
16290,2016-12-31T13:54:00,PGUM,070,5,N,0072,5,22000,5,9,...,016093,5,N,5,+0272,5,+0222,5,+0222,5
16291,2016-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
16292,2016-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [29]:
final_df.to_csv('final_climate2016.csv')

In [31]:
# 2017
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2017.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2017-01-01T00:00:00,99999,V020,"080,1,N,0077,1","99999,9,9,N","016000,1,9,9","+0294,1","+0228,1","10112,1"
1,2017-01-01T00:54:00,PGUM,V030,"070,5,N,0067,5","22000,5,9,N","016093,5,N,5","+0300,5","+0233,5","10109,5"
2,2017-01-01T01:27:00,99999,V020,"050,1,N,0082,1","00853,1,9,N","016093,1,9,9","+0310,1","+0230,1","99999,9"
3,2017-01-01T01:27:00,99999,V020,"050,1,N,0082,1","00853,1,9,N","016093,1,9,9","+0310,1","+0230,1","99999,9"
4,2017-01-01T01:54:00,PGUM,V030,"060,5,N,0082,5","00853,5,M,N","016093,5,N,5","+0311,5","+0228,5","10103,5"
5,2017-01-01T02:25:00,99999,V020,"060,1,N,0062,1","01128,1,C,N","016093,1,9,9","+0300,1","+0230,1","99999,9"
6,2017-01-01T02:25:00,99999,V020,"060,1,N,0062,1","01128,1,C,N","016093,1,9,9","+0300,1","+0230,1","99999,9"
7,2017-01-01T02:54:00,PGUM,V030,"060,5,N,0082,5","00914,5,M,N","016093,5,N,5","+0306,5","+0228,5","10095,5"
8,2017-01-01T03:11:00,99999,V020,"060,1,N,0067,1","00853,1,9,N","016093,1,9,9","+0310,1","+0230,1","99999,9"
9,2017-01-01T03:11:00,99999,V020,"060,1,N,0067,1","00853,1,9,N","016093,1,9,9","+0310,1","+0230,1","99999,9"

In [32]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2017-01-01T00:00:00,99999,V020,"080,1,N,0077,1","99999,9,9,N","016000,1,9,9","+0294,1","+0228,1","10112,1",080,...,016000,1,9,9,+0294,1,+0228,1,+0228,1
1,2017-01-01T00:54:00,PGUM,V030,"070,5,N,0067,5","22000,5,9,N","016093,5,N,5","+0300,5","+0233,5","10109,5",070,...,016093,5,N,5,+0300,5,+0233,5,+0233,5
2,2017-01-01T01:27:00,99999,V020,"050,1,N,0082,1","00853,1,9,N","016093,1,9,9","+0310,1","+0230,1","99999,9",050,...,016093,1,9,9,+0310,1,+0230,1,+0230,1
3,2017-01-01T01:27:00,99999,V020,"050,1,N,0082,1","00853,1,9,N","016093,1,9,9","+0310,1","+0230,1","99999,9",050,...,016093,1,9,9,+0310,1,+0230,1,+0230,1
4,2017-01-01T01:54:00,PGUM,V030,"060,5,N,0082,5","00853,5,M,N","016093,5,N,5","+0311,5","+0228,5","10103,5",060,...,016093,5,N,5,+0311,5,+0228,5,+0228,5

In [33]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2017-01-01T00:00:00,99999,080,1,N,0077,1,99999,9,9,...,016000,1,9,9,+0294,1,+0228,1,+0228,1
1,2017-01-01T00:54:00,PGUM,070,5,N,0067,5,22000,5,9,...,016093,5,N,5,+0300,5,+0233,5,+0233,5
2,2017-01-01T01:27:00,99999,050,1,N,0082,1,00853,1,9,...,016093,1,9,9,+0310,1,+0230,1,+0230,1
3,2017-01-01T01:27:00,99999,050,1,N,0082,1,00853,1,9,...,016093,1,9,9,+0310,1,+0230,1,+0230,1
4,2017-01-01T01:54:00,PGUM,060,5,N,0082,5,00853,5,M,...,016093,5,N,5,+0311,5,+0228,5,+0228,5

In [34]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
17200,2017-12-31T11:54:00,PGUM,090,5,N,0051,5,22000,5,C,...,016093,5,N,5,+0272,5,+0228,5,+0228,5
17202,2017-12-31T12:54:00,PGUM,110,5,N,0041,5,22000,5,C,...,016093,5,N,5,+0267,5,+0228,5,+0228,5
17203,2017-12-31T13:54:00,PGUM,100,5,N,0046,5,22000,5,9,...,016093,5,N,5,+0267,5,+0222,5,+0222,5
17204,2017-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
17205,2017-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [35]:
final_df.to_csv('final_climate2017.csv')

In [36]:
# 2018
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2018.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2018-01-01T00:00:00,99999,V020,"100,1,N,0051,1","99999,9,9,N","016000,1,9,9","+0290,1","+0240,1","99999,9"
1,2018-01-01T00:05:00,99999,V020,"100,1,N,0051,1","00884,1,C,N","016093,1,9,9","+0290,1","+0240,1","99999,9"
2,2018-01-01T00:05:00,99999,V020,"100,1,N,0051,1","00884,1,C,N","016093,1,9,9","+0289,1","+0244,1","99999,9"
3,2018-01-01T00:36:00,99999,V020,"090,1,N,0051,1","00853,1,9,N","016093,1,9,9","+0280,1","+0250,1","99999,9"
4,2018-01-01T00:36:00,PGUM,V030,"090,5,N,0051,5","00853,5,M,N","016093,5,N,5","+0283,5","+0250,5","99999,9"
5,2018-01-01T00:45:00,99999,V020,"080,1,N,0077,1","01006,1,9,N","016093,1,9,9","+0280,1","+0250,1","99999,9"
6,2018-01-01T00:45:00,PGUM,V030,"080,5,N,0077,5","01006,5,M,N","016093,5,N,5","+0283,5","+0250,5","99999,9"
7,2018-01-01T00:54:00,PGUM,V030,"090,5,N,0077,5","01006,5,M,N","016093,5,N,5","+0289,5","+0244,5","10103,5"
8,2018-01-01T01:34:00,99999,V020,"080,1,N,0062,1","00671,1,9,N","016093,1,9,9","+0290,1","+0250,1","99999,9"
9,2018-01-01T01:34:00,99999,V020,"080,1,N,0062,1","00671,1,9,N","016093,1,9,9","+0294,1","+0250,1","99999,9"

In [37]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2018-01-01T00:00:00,99999,V020,"100,1,N,0051,1","99999,9,9,N","016000,1,9,9","+0290,1","+0240,1","99999,9",100,...,016000,1,9,9,+0290,1,+0240,1,+0240,1
1,2018-01-01T00:05:00,99999,V020,"100,1,N,0051,1","00884,1,C,N","016093,1,9,9","+0290,1","+0240,1","99999,9",100,...,016093,1,9,9,+0290,1,+0240,1,+0240,1
2,2018-01-01T00:05:00,99999,V020,"100,1,N,0051,1","00884,1,C,N","016093,1,9,9","+0289,1","+0244,1","99999,9",100,...,016093,1,9,9,+0289,1,+0244,1,+0244,1
3,2018-01-01T00:36:00,99999,V020,"090,1,N,0051,1","00853,1,9,N","016093,1,9,9","+0280,1","+0250,1","99999,9",090,...,016093,1,9,9,+0280,1,+0250,1,+0250,1
4,2018-01-01T00:36:00,PGUM,V030,"090,5,N,0051,5","00853,5,M,N","016093,5,N,5","+0283,5","+0250,5","99999,9",090,...,016093,5,N,5,+0283,5,+0250,5,+0250,5

In [38]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2018-01-01T00:00:00,99999,100,1,N,0051,1,99999,9,9,...,016000,1,9,9,+0290,1,+0240,1,+0240,1
1,2018-01-01T00:05:00,99999,100,1,N,0051,1,00884,1,C,...,016093,1,9,9,+0290,1,+0240,1,+0240,1
2,2018-01-01T00:05:00,99999,100,1,N,0051,1,00884,1,C,...,016093,1,9,9,+0289,1,+0244,1,+0244,1
3,2018-01-01T00:36:00,99999,090,1,N,0051,1,00853,1,9,...,016093,1,9,9,+0280,1,+0250,1,+0250,1
4,2018-01-01T00:36:00,PGUM,090,5,N,0051,5,00853,5,M,...,016093,5,N,5,+0283,5,+0250,5,+0250,5

In [39]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
18638,2018-12-31T11:54:00,PGUM,060,5,N,0062,5,01341,5,M,...,008047,5,N,5,+0261,5,+0261,5,+0261,5
18640,2018-12-31T12:54:00,PGUM,060,5,N,0072,5,00762,5,M,...,014484,5,N,5,+0261,5,+0261,5,+0261,5
18643,2018-12-31T13:54:00,PGUM,060,5,N,0062,5,01372,5,M,...,016093,5,N,5,+0256,5,+0256,5,+0256,5
18644,2018-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
18645,2018-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [40]:
final_df.to_csv('final_climate2018.csv')

In [41]:
# 2019
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2019.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2019-01-01T00:00:00,99999,V020,"060,1,N,0077,1","99999,9,9,N","009000,1,9,9","+0267,1","+0256,1","99999,9"
1,2019-01-01T00:08:00,99999,V020,"060,1,N,0077,1","00884,1,C,N","009656,1,9,9","+0267,1","+0256,1","99999,9"
2,2019-01-01T00:08:00,99999,V020,"060,1,N,0077,1","00884,1,C,N","009656,1,9,9","+0267,1","+0256,1","99999,9"
3,2019-01-01T00:54:00,PGUM,V030,"060,5,N,0072,5","01676,5,M,N","016093,5,N,5","+0289,5","+0261,5","10144,5"
4,2019-01-01T01:54:00,PGUM,V030,"040,5,N,0082,5","01006,5,M,N","012875,5,N,5","+0283,5","+0256,5","10134,5"
5,2019-01-01T02:54:00,PGUM,V030,"030,5,N,0077,5","01219,5,M,N","006437,5,N,5","+0272,5","+0256,5","10128,5"
6,2019-01-01T03:15:00,99999,V020,"020,1,N,0088,1","00792,1,9,N","016093,1,9,9","+0294,1","+0256,1","99999,9"
7,2019-01-01T03:15:00,PGUM,V030,"020,5,N,0088,5","00792,5,M,N","016093,5,N,5","+0294,5","+0256,5","99999,9"
8,2019-01-01T03:36:00,99999,V020,"030,1,N,0093,1","00701,1,C,N","016093,1,9,9","+0294,1","+0256,1","99999,9"
9,2019-01-01T03:36:00,PGUM,V030,"030,5,N,0093,5","01433,5,M,N","016093,5,N,5","+0294,5","+0256,5","99999,9"

In [42]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2019-01-01T00:00:00,99999,V020,"060,1,N,0077,1","99999,9,9,N","009000,1,9,9","+0267,1","+0256,1","99999,9",060,...,009000,1,9,9,+0267,1,+0256,1,+0256,1
1,2019-01-01T00:08:00,99999,V020,"060,1,N,0077,1","00884,1,C,N","009656,1,9,9","+0267,1","+0256,1","99999,9",060,...,009656,1,9,9,+0267,1,+0256,1,+0256,1
2,2019-01-01T00:08:00,99999,V020,"060,1,N,0077,1","00884,1,C,N","009656,1,9,9","+0267,1","+0256,1","99999,9",060,...,009656,1,9,9,+0267,1,+0256,1,+0256,1
3,2019-01-01T00:54:00,PGUM,V030,"060,5,N,0072,5","01676,5,M,N","016093,5,N,5","+0289,5","+0261,5","10144,5",060,...,016093,5,N,5,+0289,5,+0261,5,+0261,5
4,2019-01-01T01:54:00,PGUM,V030,"040,5,N,0082,5","01006,5,M,N","012875,5,N,5","+0283,5","+0256,5","10134,5",040,...,012875,5,N,5,+0283,5,+0256,5,+0256,5

In [43]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2019-01-01T00:00:00,99999,060,1,N,0077,1,99999,9,9,...,009000,1,9,9,+0267,1,+0256,1,+0256,1
1,2019-01-01T00:08:00,99999,060,1,N,0077,1,00884,1,C,...,009656,1,9,9,+0267,1,+0256,1,+0256,1
2,2019-01-01T00:08:00,99999,060,1,N,0077,1,00884,1,C,...,009656,1,9,9,+0267,1,+0256,1,+0256,1
3,2019-01-01T00:54:00,PGUM,060,5,N,0072,5,01676,5,M,...,016093,5,N,5,+0289,5,+0261,5,+0261,5
4,2019-01-01T01:54:00,PGUM,040,5,N,0082,5,01006,5,M,...,012875,5,N,5,+0283,5,+0256,5,+0256,5

In [44]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
18094,2019-12-31T10:54:00,PGUM,070,5,N,0067,5,01676,5,M,...,016093,5,N,5,+0267,5,+0211,5,+0211,5
18095,2019-12-31T11:54:00,PGUM,070,5,N,0067,5,01524,5,M,...,016093,5,N,5,+0267,5,+0206,5,+0206,5
18097,2019-12-31T12:54:00,PGUM,080,5,N,0046,5,01372,5,M,...,016093,5,N,5,+0267,5,+0211,5,+0211,5
18098,2019-12-31T13:54:00,PGUM,070,5,N,0062,5,22000,5,9,...,016093,5,N,5,+0261,5,+0211,5,+0211,5
18099,2019-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [45]:
final_df.to_csv('final_climate2019.csv')

In [46]:
# 2020
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2020.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2020-01-01T00:00:00,99999,V020,"100,1,N,0077,1","99999,9,9,N","016000,1,9,9","+0278,1","+0211,1","10168,1"
1,2020-01-01T00:54:00,PGUM,V030,"090,5,N,0088,5","22000,5,9,N","016093,5,N,5","+0289,5","+0206,5","10163,5"
2,2020-01-01T01:54:00,PGUM,V030,"080,5,N,0072,5","01676,5,M,N","016093,5,N,5","+0278,5","+0206,5","10158,5"
3,2020-01-01T02:54:00,PGUM,V030,"080,5,N,0062,5","01524,5,M,N","016093,5,N,5","+0289,5","+0200,5","10149,5"
4,2020-01-01T03:54:00,PGUM,V030,"080,5,N,0077,5","01463,5,M,N","016093,5,N,5","+0283,5","+0200,5","10141,5"
5,2020-01-01T04:54:00,PGUM,V030,"080,5,N,0082,5","22000,5,C,N","016093,5,N,5","+0289,5","+0211,5","10136,5"
6,2020-01-01T05:54:00,PGUM,V030,"070,5,N,0062,5","22000,5,C,N","016093,5,N,5","+0278,5","+0211,5","10133,5"
7,2020-01-01T06:00:00,99999,V020,"070,1,N,0062,1","22000,1,9,N","016000,1,9,9","+0278,1","+0211,1","10133,1"
8,2020-01-01T06:54:00,PGUM,V030,"070,5,N,0067,5","22000,5,9,N","016093,5,N,5","+0272,5","+0211,5","10134,5"
9,2020-01-01T07:54:00,PGUM,V030,"060,5,N,0051,5","22000,5,9,N","016093,5,N,5","+0267,5","+0211,5","10140,5"

In [47]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2020-01-01T00:00:00,99999,V020,"100,1,N,0077,1","99999,9,9,N","016000,1,9,9","+0278,1","+0211,1","10168,1",100,...,016000,1,9,9,+0278,1,+0211,1,+0211,1
1,2020-01-01T00:54:00,PGUM,V030,"090,5,N,0088,5","22000,5,9,N","016093,5,N,5","+0289,5","+0206,5","10163,5",090,...,016093,5,N,5,+0289,5,+0206,5,+0206,5
2,2020-01-01T01:54:00,PGUM,V030,"080,5,N,0072,5","01676,5,M,N","016093,5,N,5","+0278,5","+0206,5","10158,5",080,...,016093,5,N,5,+0278,5,+0206,5,+0206,5
3,2020-01-01T02:54:00,PGUM,V030,"080,5,N,0062,5","01524,5,M,N","016093,5,N,5","+0289,5","+0200,5","10149,5",080,...,016093,5,N,5,+0289,5,+0200,5,+0200,5
4,2020-01-01T03:54:00,PGUM,V030,"080,5,N,0077,5","01463,5,M,N","016093,5,N,5","+0283,5","+0200,5","10141,5",080,...,016093,5,N,5,+0283,5,+0200,5,+0200,5

In [48]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2020-01-01T00:00:00,99999,100,1,N,0077,1,99999,9,9,...,016000,1,9,9,+0278,1,+0211,1,+0211,1
1,2020-01-01T00:54:00,PGUM,090,5,N,0088,5,22000,5,9,...,016093,5,N,5,+0289,5,+0206,5,+0206,5
2,2020-01-01T01:54:00,PGUM,080,5,N,0072,5,01676,5,M,...,016093,5,N,5,+0278,5,+0206,5,+0206,5
3,2020-01-01T02:54:00,PGUM,080,5,N,0062,5,01524,5,M,...,016093,5,N,5,+0289,5,+0200,5,+0200,5
4,2020-01-01T03:54:00,PGUM,080,5,N,0077,5,01463,5,M,...,016093,5,N,5,+0283,5,+0200,5,+0200,5

In [49]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
17838,2020-12-31T11:54:00,PGUM,080,5,N,0036,5,22000,5,9,...,016093,5,N,5,+0261,5,+0222,5,+0222,5
17840,2020-12-31T12:54:00,PGUM,090,5,N,0026,5,22000,5,9,...,016093,5,N,5,+0256,5,+0222,5,+0222,5
17841,2020-12-31T13:54:00,PGUM,070,5,N,0031,5,22000,5,C,...,016093,5,N,5,+0261,5,+0228,5,+0228,5
17842,2020-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
17843,2020-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [50]:
final_df.to_csv('final_climate2020.csv')

In [51]:
# 2021
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2021.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2021-01-01T00:00:00,99999,V020,"070,1,N,0082,1","22000,1,9,N","016000,1,9,9","+0289,1","+0239,1","10126,1"
1,2021-01-01T00:54:00,PGUM,V030,"110,5,N,0057,5","22000,5,C,N","016093,5,N,5","+0289,5","+0239,5","10124,5"
2,2021-01-01T01:14:00,99999,V020,"080,1,N,0072,1","00701,1,C,N","016093,1,9,9","+0294,1","+0239,1","99999,9"
3,2021-01-01T01:14:00,99999,V020,"080,1,N,0072,1","00701,1,C,N","016093,1,9,9","+0294,1","+0239,1","99999,9"
4,2021-01-01T01:51:00,99999,V020,"100,1,N,0072,1","99999,9,9,N","016093,1,9,9","+0290,1","+0230,1","99999,9"
5,2021-01-01T01:51:00,PGUM,V030,"100,5,N,0072,5","22000,5,9,N","016093,5,N,5","+0290,5","+0230,5","99999,9"
6,2021-01-01T01:54:00,PGUM,V030,"090,5,N,0067,5","22000,5,9,N","016093,5,N,5","+0289,5","+0233,5","10117,5"
7,2021-01-01T02:54:00,PGUM,V030,"080,5,N,0072,5","22000,5,9,N","016093,5,N,5","+0294,5","+0233,5","10110,5"
8,2021-01-01T03:54:00,PGUM,V030,"090,5,N,0062,5","22000,5,9,N","016093,5,N,5","+0300,5","+0239,5","10101,5"
9,2021-01-01T04:54:00,PGUM,V030,"090,5,N,0062,5","01280,5,M,N","012875,5,N,5","+0278,5","+0250,5","10097,5"

In [52]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2021-01-01T00:00:00,99999,V020,"070,1,N,0082,1","22000,1,9,N","016000,1,9,9","+0289,1","+0239,1","10126,1",070,...,016000,1,9,9,+0289,1,+0239,1,+0239,1
1,2021-01-01T00:54:00,PGUM,V030,"110,5,N,0057,5","22000,5,C,N","016093,5,N,5","+0289,5","+0239,5","10124,5",110,...,016093,5,N,5,+0289,5,+0239,5,+0239,5
2,2021-01-01T01:14:00,99999,V020,"080,1,N,0072,1","00701,1,C,N","016093,1,9,9","+0294,1","+0239,1","99999,9",080,...,016093,1,9,9,+0294,1,+0239,1,+0239,1
3,2021-01-01T01:14:00,99999,V020,"080,1,N,0072,1","00701,1,C,N","016093,1,9,9","+0294,1","+0239,1","99999,9",080,...,016093,1,9,9,+0294,1,+0239,1,+0239,1
4,2021-01-01T01:51:00,99999,V020,"100,1,N,0072,1","99999,9,9,N","016093,1,9,9","+0290,1","+0230,1","99999,9",100,...,016093,1,9,9,+0290,1,+0230,1,+0230,1

In [53]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2021-01-01T00:00:00,99999,070,1,N,0082,1,22000,1,9,...,016000,1,9,9,+0289,1,+0239,1,+0239,1
1,2021-01-01T00:54:00,PGUM,110,5,N,0057,5,22000,5,C,...,016093,5,N,5,+0289,5,+0239,5,+0239,5
2,2021-01-01T01:14:00,99999,080,1,N,0072,1,00701,1,C,...,016093,1,9,9,+0294,1,+0239,1,+0239,1
3,2021-01-01T01:14:00,99999,080,1,N,0072,1,00701,1,C,...,016093,1,9,9,+0294,1,+0239,1,+0239,1
4,2021-01-01T01:51:00,99999,100,1,N,0072,1,99999,9,9,...,016093,1,9,9,+0290,1,+0230,1,+0230,1

In [54]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
15680,2021-12-31T11:54:00,PGUM,050,5,N,0041,5,01158,5,M,...,016093,5,N,5,+0256,5,+0239,5,+0239,5
15682,2021-12-31T12:54:00,PGUM,030,5,N,0046,5,01676,5,M,...,016093,5,N,5,+0250,5,+0228,5,+0228,5
15685,2021-12-31T13:54:00,PGUM,020,5,N,0046,5,01189,5,M,...,016093,5,N,5,+0244,5,+0233,5,+0233,5
15686,2021-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9
15687,2021-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [55]:
final_df.to_csv('final_climate2021.csv')

In [56]:
# 2022
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2022.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2022-01-01T00:00:00,99999,V020,"070,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0278,1","+0222,1","10141,1"
1,2022-01-01T00:54:00,PGUM,V030,"070,5,N,0062,5","22000,5,C,N","016093,5,N,5","+0283,5","+0222,5","10138,5"
2,2022-01-01T01:54:00,PGUM,V030,"070,5,N,0057,5","22000,5,C,N","016093,5,N,5","+0283,5","+0222,5","10130,5"
3,2022-01-01T02:54:00,PGUM,V030,"080,5,N,0046,5","22000,5,C,N","016093,5,N,5","+0289,5","+0222,5","10120,5"
4,2022-01-01T03:54:00,PGUM,V030,"070,5,N,0057,5","22000,5,C,N","016093,5,N,5","+0289,5","+0211,5","10115,5"
5,2022-01-01T04:54:00,PGUM,V030,"040,5,N,0046,5","22000,5,9,N","016093,5,N,5","+0294,5","+0194,5","10112,5"
6,2022-01-01T05:54:00,PGUM,V030,"060,5,N,0062,5","22000,5,9,N","016093,5,N,5","+0289,5","+0211,5","10112,5"
7,2022-01-01T06:00:00,99999,V020,"060,1,N,0062,1","22000,1,9,N","016000,1,9,9","+0289,1","+0211,1","10112,1"
8,2022-01-01T06:54:00,PGUM,V030,"050,5,N,0062,5","22000,5,9,N","016093,5,N,5","+0278,5","+0217,5","10115,5"
9,2022-01-01T07:54:00,PGUM,V030,"050,5,N,0036,5","22000,5,9,N","016093,5,N,5","+0267,5","+0217,5","10121,5"

In [57]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2022-01-01T00:00:00,99999,V020,"070,1,N,0067,1","99999,9,9,N","016000,1,9,9","+0278,1","+0222,1","10141,1",070,...,016000,1,9,9,+0278,1,+0222,1,+0222,1
1,2022-01-01T00:54:00,PGUM,V030,"070,5,N,0062,5","22000,5,C,N","016093,5,N,5","+0283,5","+0222,5","10138,5",070,...,016093,5,N,5,+0283,5,+0222,5,+0222,5
2,2022-01-01T01:54:00,PGUM,V030,"070,5,N,0057,5","22000,5,C,N","016093,5,N,5","+0283,5","+0222,5","10130,5",070,...,016093,5,N,5,+0283,5,+0222,5,+0222,5
3,2022-01-01T02:54:00,PGUM,V030,"080,5,N,0046,5","22000,5,C,N","016093,5,N,5","+0289,5","+0222,5","10120,5",080,...,016093,5,N,5,+0289,5,+0222,5,+0222,5
4,2022-01-01T03:54:00,PGUM,V030,"070,5,N,0057,5","22000,5,C,N","016093,5,N,5","+0289,5","+0211,5","10115,5",070,...,016093,5,N,5,+0289,5,+0211,5,+0211,5

In [58]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2022-01-01T00:00:00,99999,070,1,N,0067,1,99999,9,9,...,016000,1,9,9,+0278,1,+0222,1,+0222,1
1,2022-01-01T00:54:00,PGUM,070,5,N,0062,5,22000,5,C,...,016093,5,N,5,+0283,5,+0222,5,+0222,5
2,2022-01-01T01:54:00,PGUM,070,5,N,0057,5,22000,5,C,...,016093,5,N,5,+0283,5,+0222,5,+0222,5
3,2022-01-01T02:54:00,PGUM,080,5,N,0046,5,22000,5,C,...,016093,5,N,5,+0289,5,+0222,5,+0222,5
4,2022-01-01T03:54:00,PGUM,070,5,N,0057,5,22000,5,C,...,016093,5,N,5,+0289,5,+0211,5,+0211,5

In [59]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
15847,2022-12-31T04:54:00,PGUM,070,5,N,0072,5,22000,5,9,...,016093,5,N,5,+0306,5,+0239,5,+0239,5
15848,2022-12-31T05:54:00,PGUM,080,5,N,0067,5,22000,5,9,...,016093,5,N,5,+0289,5,+0244,5,+0244,5
15850,2022-12-31T06:54:00,PGUM,080,5,N,0057,5,22000,5,9,...,016093,5,N,5,+0278,5,+0239,5,+0239,5
15851,2022-12-31T07:54:00,PGUM,070,5,N,0051,5,22000,5,9,...,016093,5,N,5,+0278,5,+0239,5,+0239,5
15859,2022-12-31T13:59:00,PGUM,999,9,9,9999,9,99999,9,9,...,999999,9,9,9,+9999,9,+9999,9,+9999,9

In [60]:
final_df.to_csv('final_climate2022.csv')

In [61]:
# 2023
# Read the data into a Pandas DataFrame
df = pd.read_csv("climate_data2023.csv")
df.head(10)

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
0,2023-01-01T00:00:00,99999,V020,"060,1,N,0082,1","22000,1,9,N","016000,1,9,9","+0283,1","+0261,1","10134,1"
1,2023-01-01T00:34:00,99999,V020,"060,1,N,0067,1","00732,1,9,N","004828,1,9,9","+0272,1","+0261,1","99999,9"
2,2023-01-01T00:34:00,99999,V020,"060,1,N,0067,1","00732,1,9,N","004828,1,9,9","+0272,1","+0261,1","99999,9"
3,2023-01-01T00:51:00,99999,V020,"060,1,N,0057,1","00427,1,C,N","004023,1,9,9","+0280,1","+0270,1","99999,9"
4,2023-01-01T00:51:00,PGUM,V030,"060,5,N,0057,5","00427,5,M,N","004023,5,V,5","+0280,5","+0270,5","99999,9"
5,2023-01-01T00:54:00,PGUM,V030,"060,5,N,0072,5","00427,5,M,N","004828,5,N,5","+0272,5","+0261,5","10131,5"
6,2023-01-01T01:01:00,99999,V020,"070,1,N,0057,1","00823,1,9,N","004828,1,9,9","+0267,1","+0261,1","99999,9"
7,2023-01-01T01:01:00,99999,V020,"070,1,N,0057,1","00823,1,9,N","004828,1,9,9","+0267,1","+0261,1","99999,9"
8,2023-01-01T01:08:00,99999,V020,"070,1,N,0067,1","00975,1,9,N","004828,1,9,9","+0272,1","+0261,1","99999,9"
9,2023-01-01T01:08:00,PGUM,V030,"070,5,N,0067,5","00975,5,M,N","004828,5,N,5","+0272,5","+0261,5","99999,9"

In [62]:
df[['WND_direction', 'WND_dQC', 'WND_type', 'WND_speed', 'WND_speedQC']] = df['WND'].str.split(',', expand=True)
df[['SKY_ceiling', 'SKY_ceilingQC', 'SKY_ceilingDC', 'SKY_CAVOK']] = df['CIG'].str.split(',', expand=True)
df[['VIS_distance', 'VIS_distanceQC', 'VIS_variability', 'VIS_variabilityQC']] = df['VIS'].str.split(',', expand=True)
df[['AIR_temp', 'AIR_tempQC']] = df['TMP'].str.split(',', expand=True)
df[['DEW_temp', 'DEW_tempQC']] = df['DEW'].str.split(',', expand=True)
df[['SLP_pressure', 'SLP_pressureQC']] = df['DEW'].str.split(',', expand=True)
df.head()

,DATE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP,WND_direction,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2023-01-01T00:00:00,99999,V020,"060,1,N,0082,1","22000,1,9,N","016000,1,9,9","+0283,1","+0261,1","10134,1",060,...,016000,1,9,9,+0283,1,+0261,1,+0261,1
1,2023-01-01T00:34:00,99999,V020,"060,1,N,0067,1","00732,1,9,N","004828,1,9,9","+0272,1","+0261,1","99999,9",060,...,004828,1,9,9,+0272,1,+0261,1,+0261,1
2,2023-01-01T00:34:00,99999,V020,"060,1,N,0067,1","00732,1,9,N","004828,1,9,9","+0272,1","+0261,1","99999,9",060,...,004828,1,9,9,+0272,1,+0261,1,+0261,1
3,2023-01-01T00:51:00,99999,V020,"060,1,N,0057,1","00427,1,C,N","004023,1,9,9","+0280,1","+0270,1","99999,9",060,...,004023,1,9,9,+0280,1,+0270,1,+0270,1
4,2023-01-01T00:51:00,PGUM,V030,"060,5,N,0057,5","00427,5,M,N","004023,5,V,5","+0280,5","+0270,5","99999,9",060,...,004023,5,V,5,+0280,5,+0270,5,+0270,5

In [63]:
clean_df = df.drop(columns=['WND', 'CIG', 'VIS', 'TMP', 'DEW', 'SLP', 'QUALITY_CONTROL'])
clean_df.head()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
0,2023-01-01T00:00:00,99999,060,1,N,0082,1,22000,1,9,...,016000,1,9,9,+0283,1,+0261,1,+0261,1
1,2023-01-01T00:34:00,99999,060,1,N,0067,1,00732,1,9,...,004828,1,9,9,+0272,1,+0261,1,+0261,1
2,2023-01-01T00:34:00,99999,060,1,N,0067,1,00732,1,9,...,004828,1,9,9,+0272,1,+0261,1,+0261,1
3,2023-01-01T00:51:00,99999,060,1,N,0057,1,00427,1,C,...,004023,1,9,9,+0280,1,+0270,1,+0270,1
4,2023-01-01T00:51:00,PGUM,060,5,N,0057,5,00427,5,M,...,004023,5,V,5,+0280,5,+0270,5,+0270,5

In [64]:
# Dropping the null rows
final_df = clean_df[clean_df["CALL_SIGN"].str.contains("9999") == False]
  
final_df.tail()

,DATE,CALL_SIGN,WND_direction,WND_dQC,WND_type,WND_speed,WND_speedQC,SKY_ceiling,SKY_ceilingQC,SKY_ceilingDC,...,VIS_distance,VIS_distanceQC,VIS_variability,VIS_variabilityQC,AIR_temp,AIR_tempQC,DEW_temp,DEW_tempQC,SLP_pressure,SLP_pressureQC
4771,2023-04-16T01:54:00,PGUM,070,5,N,0103,5,22000,5,9,...,016093,5,N,5,+0310,7,+0230,7,+0230,7
4772,2023-04-16T02:54:00,PGUM,090,5,N,0088,5,22000,5,9,...,016093,5,N,5,+0310,7,+0230,7,+0230,7
4773,2023-04-16T03:54:00,PGUM,090,5,N,0067,5,22000,5,9,...,016093,5,N,5,+0306,5,+0233,5,+0233,5
4774,2023-04-16T04:54:00,PGUM,100,5,N,0067,5,22000,5,9,...,016093,5,N,5,+0300,5,+0239,5,+0239,5
4775,2023-04-16T05:54:00,PGUM,090,5,N,0072,5,22000,5,9,...,016093,5,N,5,+0300,5,+0239,5,+0239,5

In [65]:
final_df.to_csv('final_climate2023.csv')